
/* CSS: Format/Styling File */

html {
   margin: 0;
   padding: 0;
   height: 100%;
   scroll-behavior: smooth;
   background-color: rgb(222, 207, 238);
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    max-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.box {
    margin: auto;
    padding: auto;
    display: flex;
    flex-wrap: wrap;
}

.navbar a {
    float: middle;
    color: #000000;
    text-align: center;
    padding: 16px 16px;
    text-decoration: saddlebrown;
    font-size: 20px;
  }