---
import { ViewTransitions } from "astro:transitions";
import Layout from "../layouts/layout.astro";
---

<Layout>
  <!-- Main Content Section -->
  <main class="space-y-6 max-w-sm">
    <!-- About Me Section -->
    <section>
      <h2 transition:animate="slide" class="text-2xl pb-3 font-semibold">
        Experience
      </h2>

      <div class="space-y-3 text-lg">
        <p>
          <b>Hi there!</b> I'm a passionate computer science student at Cal
          State Fullerton, currently in my second year. I'm also a lucky Google
          STEP intern - I had the amazing opportunity to intern with them in
          2023, and I'm thrilled to be returning for another round in 2024!
        </p>
        <p class="indent-2">
          In my free time, I love to tinker with new technologies, go to the
          gym, and explore the outdoors. I'm always looking to connect with
          other passionate people in the tech community, so feel free to reach
          out! You can find me on <a
            class="font-semibold text-blue-600"
            href="https://www.linkedin.com/in/ashley-chan12/"
            target="_blank">LinkedIn</a
          >.
        </p>
      </div>
    </section>
  </main>
</Layout>
